:root{
    --header: 2.5rem;
    --footer: 60px;
    --main: calc(100vh - calc(var(--header) - var(--footer)));
}

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    font-size: clamp( 1.5rem, 4vw, 2.5rem);
}

header{
    background-color: red;
    height: var(--header);
    font-size: max(1.6rem, 100%);
}

main{
    background-color: grey;
    height: var(--main);
}

footer{
    background-color: green;
    height: var(--footer);
}

p{
    font-size: min(1rem, 100%);
}

