/* General setup */

@font-face {
    font-family: 'Quicksand';
    src: url('fonts/') format('woff2'),
        url('fonts/Quicksand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/') format('woff2'),
        url('fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
  font-size: 10px;
  margin: 0;
  font-family: 'Quicksand', serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
}


@font-face {
    font-family: "ChunkFivePrint";
    src: url("fonts/ChunkFivePrint.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}