:root{
    --background: #473472;
    --header-font-color: #D6F4ED;
    --background-color: #D6F4ED;
    --padding: 0 150px 0 150px;
    --font-family: "Gloria Hallelujah", cursive;
    --font-color: black;
    
}

.gloria-hallelujah-regular {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--background-color);
    font-family: var(--font-family);
    color: var(--font-color);
}

.nav{
    background-color: var(--background);
    color:var(--header-font-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    gap: 10px;
}

header{
    padding: var(--padding);   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 2;
    align-items: center;
}

.main{
    padding: var(--padding);
}

.name{
    color: #473472;
    font-weight: 400;
}

.first-paragraph{
    display: flex;
    align-items: start;
    justify-content: space-between;
    position: relative;
}

.first-paragraph > div{
    flex: 1;
}

.picture{
    padding: 7px 0 7px 0;
    border: none;
    border-radius: 20px 40px 50px 30px;
    position: absolute;
    top: 0;
    right: 0;
}

.sun-moon-icon{
    width: 25px;
    padding: 10px 0 0 10px;
}

p{
    flex: 2;
}

