body{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    border: 1px solid #cccccc;
    padding: 1em;
    border-radius: 1em;
}

label{
    display: flex;
    flex-direction: row;
    min-width: 90px;

}

input,
textarea{
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999999;
}

input:focus,
textarea:focus{
    outline-style: solid;
    outline-color: black;
}

textarea{
    vertical-align: top;
    height: 5em;
}

button{
    margin-right: 150px;
}
