body{
    font: 1.2em / 1.5 sans-serif;
}

*{
    box-sizing: border-box;
}

/**h1{
    color: blue;
}

h2{
    background-color: blue;
    color: white;
}

span{
    font-size: 200%;
} Task 1**/

/**#special{
    background-color: yellow;
}

.alert{
    border-style: solid;
    border-width: 2px;
    border-color: grey;
}

.alert.stop{
    background-color: red;
}

.alert.go{
    background-color: green;
} Task 2**/

/**
table{
    border-collapse: collapse;
    width: 300px;
}

td,
th{
    padding: 0.2rem;
    text-align: left;
}

p a:link{
    color: orange;
}

p a:visited{
    color: green;
}

p a:hover{
    text-decoration: none;
}

.container:first-child::first-line{
    color: red;
    font-size: 150%;
}

tr:nth-child(even){
    background-color: #333333;
    color: white;
}
 Task 3**/

/**
 h2 + p {
    color: red;
 }

.List > li {
    list-style-type: none;
    border-bottom: 1px solid grey;
}
Task 4**/

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    margin-bottom: 0.5em;
}

a{
    display: block;
    padding: 0.5em;
    border: 5px solid grey;
}

a[title]{
    border-color: pink;
}

a[href*="contact"]{
    border-color: orange;
}

a[href^="https"]{
    border-color: green;
}

