

body{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    flex: 1;
}

fieldset{
    border-style: solid;
    border-radius: 2px;
    border-color: gray;
}

li{
    list-style-type: none;
}

section{
    display: flex;
    flex-direction: column;
    width: 50%;
}

p{
    display: flex;
    flex-direction: column;
}

ul{
    padding: 0;
}

button{
    width: 60%;
}