@font-face {
    font-family: 'OldNewspaperTypes';
    src: url('OldNewspaperTypes.woff2') format('woff2'),
        url('OldNewspaperTypes.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

